
<h3>Available Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id%>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are curently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>

<h3>Artists</h3>

<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
      <li><a href="/artists/<%= artist.id%>"><%= artist.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are curently no artists to display.</p>
<% end %>

<a href="/artists/new">Add a new artist</a>

<%# <form action="/album" method='post'>
  <div class='form-group'>
    <label for="search">Search</label>
    <input type="text" name="search" id="search">
  </div>
  <button type='submit' class='btn'>Go!</button>
</form> %>